/* You can add global styles to this file, and also import other style files */


:root{
  --orange: #FF9D00;
  --red: #D50A0A;
  --white: #FFFFFF;
}

*{
  font-family: 'Roboto', ;
  margin:0;
  padding:0;
  border:0;    
}


div.myAccont{
  display: grid;
  grid-template-columns: 1fr;
  align-self: center;
  justify-items: center;
  cursor: pointer;
}

div.myAccont p{
  color: white;
  font-weight: bold;
}

header.site-header{
  background: var(--orange);
  width: 100%;
  height: 125px;
  display: grid;
  grid-template-columns: 2fr 3fr 1fr 1fr; 
  align-items: center;
}
input.search-bar{
  border-radius: 10px;
  height: 40px;
}

a.person, a.cart{
  display: grid;
  grid-template-columns: 1fr;
  justify-self: end;
  padding-right: 10px;
  justify-items: center;
}

a{
  text-decoration: none;
  color: var(--white);
  font-weight: bold;
}