/* You can add global styles to this file, and also import other style files */


:root{
    --orange: #FF9D00;
    --red: #D50A0A;
    --white: #FFFFFF;
}

*{
    font-family: 'Roboto', ;
    margin:0;
    padding:0;
    border:0;    
}